<!DOCTYPE html>
<head>
    <%- include ("../include/header") -%>
    <link rel="stylesheet" href="/styles/admin.css">
    <title>Admin Profile</title>
</head>
<body>
    <%- include ("../include/nav") -%>
    
</body>



</html>